*.user
*Makefile
*.in
aclocal.m4
am
*.cache
*.guess
config.h
config.h.in
*.log
config.lt
*.status
config.sub
configure
depcomp
dependencies.m4
*Doxyfile
*.deps
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.o
demos
demos-*
*.pc
*.kdev4
.libs
*.lo
*.la
.dirstamp
*.swp
build-*
*.pyc
