CMakeLists.txt
CMakeLists.txt.user*
Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.lt
config.status
config.sub
configure
depcomp
dependencies.m4
doc/Makefile
doc/Makefile.in
doc/doxygen/Doxyfile
doc/doxygen/Doxyfile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
dune-detailed-solvers.pc
dune/Makefile
dune/Makefile.in
dune/detailed-solvers/Makefile
dune/detailed-solvers/Makefile.in
dune/detailed-solvers/stationary/Makefile
dune/detailed-solvers/stationary/Makefile.in
dune/detailed-solvers/stationary/linear/Makefile
dune/detailed-solvers/stationary/linear/Makefile.in
dune/detailed-solvers/stationary/linear/elliptic/Makefile
dune/detailed-solvers/stationary/linear/elliptic/Makefile.in
dune/detailed-solvers/stationary/linear/elliptic/continuousgalerkin/Makefile
dune/detailed-solvers/stationary/linear/elliptic/continuousgalerkin/Makefile.in
examples/Makefile
examples/Makefile.in
examples/stationary/Makefile
examples/stationary/Makefile.in
examples/stationary/linear/Makefile
examples/stationary/linear/Makefile.in
examples/stationary/linear/elliptic/Makefile
examples/stationary/linear/elliptic/Makefile.in
examples/stationary/linear/elliptic/continuousgalerkin/.deps
examples/stationary/linear/elliptic/continuousgalerkin/Makefile
examples/stationary/linear/elliptic/continuousgalerkin/Makefile.in
examples/stationary/linear/elliptic/continuousgalerkin/dune_fem
examples/stationary/linear/elliptic/continuousgalerkin/dune_fem-dune_fem.o
install-sh
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
missing
stamp-h1
examples/stationary/linear/elliptic/continuousgalerkin/dune_detailed_discretizations
examples/stationary/linear/elliptic/continuousgalerkin/dune_detailed_discretizations-dune_detailed_discretizations.o
doc/doxygen
*.deps
examples/stationary/linear/elliptic/discontinuousgalerkin/dune_detailed_discretizations
*.o
